html {
	margin: 0px;
	padding: 0px;
}

.loginbox {
	margin: 0;
	position: absolute;
	top: 50%;
	left: 50%;
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}

#search_in_results {
	margin-top: 20px;
}

.searchbox {
	margin: 0;
	position: absolute;
	top: 50%;
	left: 50%;
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}

.divbutton {
	text-align: center;
}

.text-align-center {
	text-align: center;
}

.margin_top-40 {
	margin-top: 40px
}

.margin_bottom-100 {
	margin-bottom: 100px
}

.indent {
	margin-left: 30px;
}

.testform {
	margin-left: 20%;
	align-items: center;
	justify-content: center;
}

.btn-circle {
	width: 30px;
	height: 30px;
	text-align: center;
	padding: 6px 0;
	font-size: 12px;
	line-height: 1.428571429;
	border-radius: 15px;
}

.btn-circle.btn-lg {
	width: 50px;
	height: 50px;
	padding: 10px 16px;
	font-size: 18px;
	line-height: 1.33;
	border-radius: 25px;
}

.btn-circle.btn-xl {
	width: 90px;
	height: 90px;
	padding: 10px 16px;
	font-size: 24px;
	line-height: 1.33;
	border-radius: 45px;
}

.conga {
	font-family: 'Atma';
	font-size: 25px
}
.congaBig {
	font-family: 'Atma';
	font-size: 80px
}
.tablecenter {
	margin: 0;
	position: absolute;
	top: 30%;
	left: 50%;
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}

.formcenter {
	padding-top: 5%;
}

.center-buttons {
	width: 250px;
	height: 90px;
	font-size: 26px;
	line-height: 1.33;
}

.editor-buttons {
	width: 150px;
	height: 35px;
}

.box{
	margin: 0;
	padding: 3%;
}
.cursiva{
	font-style: oblique;
}
.text-center{
	text-align: center;
}
.text-justify{
	text-align: justify;
}
.image{
	max-width: 95%;
}

.legend{
	max-width: 40%;
}
.question-size{
	font-size: 14px
}
.page-size{
	font-size: 14px
}