
*.prefs
*.class

*.xtendbin
*._trace
*/bin/*
*/xtend-gen/*
ReverseEngineering/agent/*
ReverseEngineering/Coffee-Shop/*
ReverseEngineering/Demo/*
ReverseEngineering/RoomReservation/*
ReverseEngineering/viberSampleNutrition/*
ReverseEngineering/viberSampleNutrition.bot
ReverseEngineering/Coffee-Shop.bot
ReverseEngineering/agent.bot
ReverseEngineering/RoomReservation.bot

*/target/*
botGenerator.dsl.parent/botGenerator.dsl.web/target/m2e-wtp/web-resources/META-INF/MANIFEST.MF
botGenerator.dsl.parent/botGenerator.dsl.web/target/m2e-wtp/web-resources/META-INF/maven/botGenerator.dsl/botGenerator.dsl.web/pom.properties
botGenerator.dsl.parent/botGenerator.dsl.web/target/m2e-wtp/web-resources/META-INF/maven/botGenerator.dsl/botGenerator.dsl.web/pom.xml
botGenerator.dsl.parent/botGenerator.dsl.ide/target/classes/org/xtext/botGenerator/ide/contentassist/antlr/internal/InternalBot.tokens
botGenerator.dsl.parent/botGenerator.dsl.ide/target/classes/org/xtext/botGenerator/ide/contentassist/antlr/internal/InternalBot.g
*.aird

botGenerator.dsl.parent/botGenerator.dsl/xtend-gen/org/*
botGenerator.dsl.parent/botGenerator.dsl.tests/xtend-gen/org/xtext/botGenerator/tests/BotParsingTest.java
